
.season_banner{
  color: white;
  object-fit: contain;
  padding-top:8%;
  padding-right:8%;
  display:flex;
  align-items: left;
  justify-content:space-between;
  
}

.season_banner .banner_contents{
    padding-top:0px;
    margin-top:0px;
    padding-left:0px;
}

.seasonimg{
    width:320px; 
    height:450px;
}

.fa-angle-double-left{
    font-size: 20px;
}

.eptitle{
    font-size: 1.5em;
    color:#db202c;
    margin-left:30px;

}
.eptitle .infotype_value{
    font-size: 0.9em;
}

.smt_del{
    margin-top:3%;
    margin-bottom:3%;
}

.ml{
    margin-left:30px;
}

.episode_outer{
    margin:3%;
    margin-top:0%;
    min-width:92vw;
    max-width:92vw;
    border: 2px solid #aaa;
    color:#fff;
    border-radius: 15px;
    display:flex;
    flex-direction:row;
    align-items:left;
    box-shadow: 0px 2px 10px rgb(90, 89, 89);
}
.epi_image{
    justify-content: center;
    width:350px;
    height:100%;
    object-fit: cover;
    border-radius:14px 0 0 14px;
}
.episode_outer:hover{
    border-color:gold;
}

.epi_info{
    width:100%;
    margin:2%;
    display:flex;
    flex-direction:column;
}

.epi_star{
  margin-left:3px;
}

.epirate{
    margin:3px 0px;
    font-size:1.3em;
    text-align: left;
}

.epi_namedate{
    display:flex;
    flex-direction: row;
    align-items:left;
}
.epi_header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}


.epiname{
    color:#db202c;
    font-size:1.3em;
}
.epidate{
    color:#999;
    
}

.epi_overview{
    text-align: left;
    width:98%;
}

@media screen and (max-width: 900px) {

    .season_banner{
        padding-top: 20%;
        padding-right:0;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .seasonimg{
        margin-left:auto;
        margin-right:auto;
    }
    .season_banner .banner_contents{
        height:auto;
        width:95%;
        margin-bottom:20px;
        margin-left:50px;
    }
    .season_banner .banner_discription{
        padding:0;
    }
    .episode_outer{
        flex-direction: column;
        justify-content:center;
        margin:5%;
        
    }
    .epi_header{
       flex-direction: column;
    }
    .epi_image{
        width:100%;
        height:250px;
        border-radius:14px 14px 0 0;
        border-bottom:2px solid #999;
    }
    .epirate{text-align:center;}
    
    
}



