html {
  margin:0;
  padding:0;
  background-color: #0e0f11;
  box-sizing:border-box;
}


.App {
  display:flex;
  flex-direction: column;
  min-height:91vh;
  scroll-behavior: smooth;
}



.font_family {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	
}
